.progress-outer {
    padding: 1px;
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    color: #000;
    border-radius: 20px;
}

.progress-inner {
    position: relative;
    // min-width: 0%;
    // max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding: 2px;
    border-radius: 20px;
    background-color: rgb(0, 153, 255);
}
.percent{
    text-align: center;
    min-width: 0%;
    max-width: 100%;
}
p{
    white-space: pre-wrap;
  }
