<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button routerLink="/main/tabs/transactions/new">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Transactions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <!-- <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              {{loadedTransactions[0].title}}
            </ion-card-title>
            <ion-card-subtitle>
              {{loadedTransactions[0].amount | currency}}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="loadedTransactions[0].imageUrl"></ion-img>
          <ion-card-content>
            <p>{{loadedTransactions[0].category}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-list>
          <ion-item *ngFor="let transaction of loadedTransactions"
            [routerLink]="['/','main','tabs','transactions', transaction.id]" routerDirection="forward" detail>
            <!-- <ion-thumbnail slot="start">
              <ion-img [src]="transaction.imageUrl"></ion-img>
            </ion-thumbnail> -->
            <ion-avatar slot="start">
              <ion-img [src]="transaction?.imageUrl"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>{{transaction?.title}}</h2>
              <p>{{transaction?.category}}</p>
            </ion-label>
            <!-- DO ZMIANY -->
            <ion-label slot="end" class="ion-text-right"
              [attr.color]="(transaction?.type === 'expense')? 'danger': 'success'">
              <p>{{transaction.amount | currency}}</p>
            </ion-label>
            <!-- DO ZMIANY -->
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>