<ion-header no-border>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="end">
      <ion-button color='primary' (click)="startApp()" [hidden]="!showSkip">{{'skip' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)">
    <ion-slide *ngIf="firstSlide">
      <img src="" class="slide-image" />
      <h2 class="slide-title">
        {{'settingUp' | translate}}
      </h2>
      <ion-grid class="ion-padding">
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-icon name="earth" slot="start"></ion-icon>
              <ion-label>{{'language' | translate}}</ion-label>
              <ion-select value="{{selectedLanguage}}" (ionChange)="selectLanguage($event)">
                <ion-select-option *ngFor="let lng of languages" value="{{lng.value}}">{{lng.text}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item lines="none">
              <ion-icon name="invert-mode" slot="start"></ion-icon>
              <ion-label>{{'theme' | translate}}</ion-label>
              <ion-toggle [checked]="selectedTheme" (ionChange)="selectTheme($event)"></ion-toggle>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item lines="none">
              <ion-icon name="logo-usd" slot="start"></ion-icon>
              <ion-label>{{'currency' | translate}}</ion-label>
              <ion-select value="{{selectedCurrency}}" (ionChange)="selectCurrency($event)">
                <ion-select-option *ngFor="let cur of currencies" [value]="cur.value">{{cur.text | translate}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item lines="none">
              <ion-icon name="settings-outline" slot="start"></ion-icon>
              <ion-label>
                <ion-text>{{'defaultProfile' | translate}}</ion-text>
              </ion-label>
              <ion-toggle [checked]="defaultMode" (ionChange)="setDefaultMode($event)"></ion-toggle>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">
                <p>{{'defaultProfile' | translate}} - {{'defaultProfileDescription' | translate}}</p>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <img src="" class="slide-image" />
      <h2 class="slide-title">
        {{'welcome' | translate}} <ion-text color="primary">{{'myFinances' | translate}}!</ion-text>
      </h2>
      <p><b>{{'myFinances' | translate}}</b>{{'ts1' | translate}}<a href="https://ionicframework.com/">Ionic</a>{{'ts2'
        | translate}}</p>
      <p>{{'ts3' | translate}}<br>
        {{'ts4' | translate}} </p>
      <ion-icon name="happy-outline"></ion-icon>
    </ion-slide>
    <ion-slide>
      <img src="" class="slide-image" />
      <h2 class="slide-title">{{'accounts' | translate}}</h2>
      <p>{{'ts5' | translate}}</p>
      <img src="assets/images/tutorial.jpg" class="slide-image" />
    </ion-slide>
    <ion-slide>
      <img src="" class="slide-image" />
      <h2 class="slide-title">{{'categories' | translate}}</h2>
      <p>{{'ts6' | translate}}</p>
      <img src="assets/images/tutorial2.jpg" class="slide-image" />
    </ion-slide>
    <ion-slide>
      <img src="" class="slide-image" />
      <h2 class="slide-title">{{'transactions' | translate}}</h2>
      <p>{{'ts7' | translate}}</p>
      <img src="assets/images/tutorial3.jpg" class="slide-image" />
    </ion-slide>
    <ion-slide>
      <img src="" class="slide-image" />
      <h2 class="slide-title">{{'transfer' | translate}}</h2>
      <p>{{'ts8' | translate}}</p>
      <img src="assets/images/tutorial4.jpg" class="slide-image" />
    </ion-slide>
    <ion-slide>
      <img src="" class="slide-image" />
      <h2 class="slide-title">{{'budget' | translate}}</h2>
      <p>{{'ts9' | translate}}</p>
      <img src="assets/images/tutorial5.jpg" class="slide-image" />
    </ion-slide>
    <ion-slide>
      <img src="" class="slide-image" />
      <h2 class="slide-title">QR</h2>
      <p>{{'ts10' | translate}}</p>
      <img src="assets/images/tutorial6.jpg" class="slide-image" />
    </ion-slide>
    <ion-slide>
      <img src="" class="slide-image" />
      <h2 class="slide-title">{{'summary' | translate}}</h2>
      <p>{{'ts11' | translate}}</p>
      <img src="assets/images/tutorial7.jpg" class="slide-image" />
    </ion-slide>
    <ion-slide>
      <img src="" class="slide-image" />
      <h2 class="slide-title">{{'rdts' | translate}}</h2>
      <ion-button fill="clear" (click)="startApp()">
        {{'continue' | translate}}
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>