ion-toolbar {
    --background: transparent;
    --border-color: transparent;
  }

.options {
  top:10px;
  position: absolute;
  padding: 0px;
  width: 100%;
  text-align: center;
}
p{
  white-space: pre-wrap;
}