<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="accounts">
      <ion-label>Accounts</ion-label>
      <ion-icon name="briefcase"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="categories">
      <ion-label>Categories</ion-label>
      <ion-icon name="apps"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="transactions">
      <ion-label>Transactions</ion-label>
      <ion-icon name="swap-horizontal"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>